{% extends 'base.html.twig' %}


{% block body %}
    {% for e in errors %}
        <div class="row">
            <div class="col">
                <span class="">{{ e }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <form class="form-inline" action="{{ path('app_vault') }}" method="post">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Ключ от хранилища</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Ключ" name="passphrase">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Открыть</button>
        </form>
    </div>
{% endblock %}
