{% extends 'base.html.twig' %}


{% block body %}
    {% for e in errors %}
        <div class="row">
            <div class="col">
                <span class="">{{ e }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="row my-2 align-items-center">
        <div class="card text-center bg-secondary text-light">
            <div class="card-header">
                Вход в хранилище
            </div>
            <div class="card-body">
                <form class="form-inline" action="{{ path('app_vault') }}" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" class="sr-only">Ключ от хранилища</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Ключ" name="passphrase" autocomplete="new-password">
                    </div>
                    <button type="submit" class="btn btn-primary mx-3">Открыть</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                После входа у вас будет ограниченное время на работу с файлами в хранилище
            </div>
        </div>
    </div>
{% endblock %}
